@import "../../assets/variables";

.circleSec{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        margin: -42px 0 0 0;
        z-index: 10;
    }
    .numbers{
        position: absolute;
        z-index: 100;
        display: flex;
        flex-direction: row;
        p{
            gap: 128px;
            display: flex;
            margin: -50px 0 0 0;
        }
        .firNum{
            font-size: 200px;
            font-weight: 700;
            color:$text-year-blue;
        }
        .secNum{
            font-size: 200px;
            font-weight: 700;
            color:$text-year-pink;
        }
    }
    .circle {
        position: absolute;
        z-index: 200;
        width: 316px;
        height: 498px;
        margin: 0 0 46px 0;
        .number{
            font-weight: 400;
            line-height: 30px;
            color: $text-main;
        }
            button {
                position: absolute;
                border: none;
                padding: 16px;
                background-color: transparent;
                cursor: pointer;
                cursor: pointer;
                &::after  {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    border: 1px solid #9299A8;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
                &:hover::after, &:active::after, &:focus::after{
                    opacity: 1;
                }
                &.active::after {
                    opacity: 1;
                }
            }
            button:nth-child(1) { top: 0; left: 0; }
            button:nth-child(2) { top: 0; right: 0; }
            button:nth-child(3) { bottom: 0; left: 0; }
            button:nth-child(4) { bottom: 0; right: 0; }
    }
    // знаю что не лучшее решение...
}
