@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	scrollbar-width: none; /* Для Firefox */
	-ms-overflow-style: none; /* Для Internet Explorer и Edge */
	scroll-behavior: smooth;
	::-webkit-scrollbar {
		display: none;
	}
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
	
	margin: 0;
	padding: 0;
}
img {
	pointer-events: none;
	user-select: none;
}
p , h1 , h2, h3, h4, h5, h6, {
	margin: 0;
	padding: 0;
}
html{
	box-sizing: border-box;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
*,*::before, *::after{
	box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
body {
	font-family: 'PT Sans' , sans-serif;
	font-weight: 400;
	font-size: 20px;
	height: 100%;
	background-color: #f4f5f9;
//	font-variant-numeric: slashed-zero;
//	font-variant: lining-nums;
}
.wrapper{
//	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
}
